*
{
    font-family: 'Roboto', sans-serif;
}

/* Corps */

body
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;
    background-color: #F6F6F6;
}

.container{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Loader */

.loader{
   width: 100%;
   position: absolute;
   height: 100%;
   flex-direction: column;
   padding-bottom: 14em;
   padding-top: 14em;
   display: flex;
   text-align: center;
   background: #F6F6F6;
   animation: invisible 3s ease-in-out;
   visibility: hidden;
   z-index: 1;
   overflow: hidden;
}

@keyframes invisible {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}



@keyframes flash {
    0% {
        color: #9356DC;
        text-shadow: 0.2rem 0.2rem #af7bee;
    }
    33% {
        color: #FF79DA;
        text-shadow: 0.2rem 0.2rem #be56a1;
    }
    66% {
        color: #99E2D0;
        text-shadow: 0.2rem 0.2rem #6fac9d;
    }
    100% {
        color: #9356DC;
        text-shadow: 0.2rem 0.2rem #af7bee;
    }
}

.loader__lettre{
    font-size: 100px;
    color: #9356DC;
    font-family: 'Shrikhand';
    animation: flash 3s infinite;
}

.loader__lettre:nth-child(1){
    animation-delay: 0.3s;
}

.loader__lettre:nth-child(2){
    animation-delay: 0.6s;
}

.loader__lettre:nth-child(3){
    animation-delay: 0.9s;
}

.pleasewait{
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand';
    font-size: 25px;
    text-align: center;
}

/* Titre */

h1
{
    margin-top: 39px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1,h2{
    font-size: 24px;
}

h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

/* header */

.imposterbar
{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-bottom: 1em;
}

.logo
{
    width: 53%;
    max-width: 200px;
}

/* Formulaire */

form
{
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
}

.locationbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-style: hidden;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #EAEAEA;
}

.fa-location-dot
{
    font-size: medium;
    color: #353535;
    margin-left: 15px;
}

input
{
    background-color: #EAEAEA;
    border-style: hidden;
    color: #353535;
    margin-left: 15px;
    font-weight: 500;
}

::placeholder
{
    opacity: 1;
    font-size: 16px;
}

/* Présentation */

.stack
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px auto;
}

.presentation{
    padding-bottom: 0.2em;
}

.stack-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    max-width: 218px;
    min-width: 150px;
    margin-bottom: 2em;
    margin-top: 1.7em;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-style: hidden;
    font-size: 16px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.btn__content{
    text-decoration: none;
    color: #ffffff;
}

.btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* Explication fonctionnement site */

.functioning
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    background: white;
    width: 100%;
}

.functioning-section
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-circle{
    font-size: 14px;
    position: relative;
    left: 10px;
    top: -11px;
    width: 1.4em;
    border: 1px #9356DC solid;
    border-radius: 50%;
    color: white;
    background: #9356DC;
    text-align: center;
}

.functioning-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 72px;
    border: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #F7F7F7;
    padding-left: 10px;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store{
    color: #7e7e7e;
    font-size: larger;
    margin-left: 0.8em;
    transition: 0.3s;
}

/* Effet hover fonctionnement */

.functioning-card:hover{
    background-color: #F5EDFF;
    transition: 0.2s;
}

.functioning-card:hover .fa-solid{
    color: #9356DCDC;
}

.fctn-txt{
    margin-left: 0.8em;
    font-size: 16px;
    font-weight: 500;
}

/* Section Restaurants */

.resto{
    padding-bottom: 4em;
}

.stack-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
}

.stack-card h2{
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 22px;
}

.card{
    height: 251px;
    width: 100%;
    margin-bottom: 1.1em;
    border: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background: white;
}

.card-picture{
    height: 185px;
    width: 100%;
}

.card-picture > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.badge-new{
    position: relative;
    top: 0px;
    height: 29px;
    width: 80px;
    font-size: 14px;
    color: #008766;
    background-color: #99E2D0;
    float: right;
    top: -175px;
    right: 1em;
}


.card-picture img{
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-container{
    display: flex;
    flex-direction: row;
    width: 93%;
    padding-left: 0.7em;
    align-items: center;
    justify-content: space-between;
}

.card-anch{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
}

.contain-direction{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contain-direction p{
    margin: 0px;
    font-weight: 300;
}

/* Like + effet */

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.2em;
}

.fa-heart{
    font-size: 21px;
    position: absolute;
}

.like{
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
}

.like:hover{
    opacity: 1;
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

/* Footer */

footer{
    width: 100%;
    background-color: #353535;
    color: white;
    margin-left: -20px;
    padding-right: 40px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
    padding-bottom: 1.3em;
    padding-top: 2em;
}

.colorfooter{
    color: #ffffff;
}

.logo-footer{
    width: 138px;
    filter: invert(100%);
    margin-bottom: 1em;
}
.footer-contain{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.footer-contain p{
    margin-bottom: 7px;
    margin-top: 5px;
}

.footer-contain-direction{
    display: flex;
    align-items: center;
}

.bold{
    font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle{
    font-size: small;
    margin-right: 10px;
}

.fa-handshake-angle{
    width: 11px;
}

/*** Media Queries ***/

@media (min-width: 767.98px)
{

    .functioning-body{
        margin: 0px auto;
    }

    .functioning-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .stack-card{
        max-width: 1050px;
        justify-content: center;
    }

    .stack-card-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 5rem;
    }

    .card-container{
        width: 90%;
    }

    .footer{
        display: flex;
        justify-content: flex-end;
    }

    .footer-container{
        flex-direction: row-reverse;
        align-items: center;
        width: 95%;
        max-width: 1600px;
    }

    .footer-contain{
        flex-direction: row;
    }

    .logo-footer{
        margin: 0px;
    }

    .colorfooter{
        display: flex;
        flex-direction: row;
    }

    .footer-contain-direction{
        margin-right: 2.5em;
    }
}