*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.fa-arrow-left{
    font-size: larger;
    color: #353535;
}

.imposter
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-left: 1em;
}

.logo{
    display: flex;
    width: 90%;
    justify-content: center;
}

.logo-size
{
    display: flex;
    width: 60%;
    max-width: 200px;
}

.picture-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 275px;
    width: 100%;
    z-index: 1;
}

.picture-page{
    display: flex;
    width: 100%;
    min-height: 275px;
    object-fit: cover;
}

.menu__header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #f7f7f7;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    position: relative;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    top: -40px;
    z-index: 2;
}

.menu-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1055px;
    background: #f7f7f7;
}


.menu__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 640px;
}

.menu__subtitle{
    margin-bottom: 30px;
    font-weight: 300;
}

.underline{
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
}

h1{
    margin: 0px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart{
    font-size: 21px;
    position: absolute;
}

.like{
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

.like:hover{
    opacity: 1;
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

h2{
    font-size: 16px;
}

h3{
    font-size: 18px;
    font-weight: 500;
}

h3 , p{
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__card{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 1em;
    width: 96%;
    max-width: 634px;
    height: 68px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    animation : appear ease-in;
}

.one{
    animation-duration: 2s;
}

.two{
    animation-duration: 2.5s;
}

.three{
    animation-duration: 3s;
}

.four{
    animation-duration: 3.5s;
}

.five{
    animation-duration: 4s;
}

.six{
    animation-duration: 4.5s;
}

.seven{
    animation-duration: 5s;
}

.eight{
    animation-duration: 5.5s;
}

.nine{
    animation-duration: 6s;
}

.ten{
    animation-duration: 6.5s;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.menu__card p{
    font-size: 15px;
    font-weight: 300;
}

.card-anch{
    display: flex;
    width: 100%;
    height: 80%;
    text-decoration: none;
    color: black;
}

.menu__content{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.price{
    display: flex;
    align-items: last baseline;
    height: 90%;
    width: 10%;
    font-weight: 500;
    color: #353535;
    font-size: 15px;
    margin-right: 0.5em;
}

.choice{
    visibility: collapse;
    vertical-align: auto;
    background-color: #99E2D0;
    width: 15%;
    max-width: 59px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    transform: scale(0);
}

.tic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-anch:hover +.choice{
    visibility: visible;
    transition: transform 0.4s ease-in;
    transform: scale(1.0);
    transform-origin: right center;
}

.fa-circle-check{
    color: white;
    font-size: 20px;
}

.btn-explore
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;
    max-width: 186px;
    min-width: 120px;
    margin-bottom: 2em;
    margin-top: 1.7em;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-style: hidden;
    font-size: 16px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.btn-explore a{
    text-decoration: none;
    color: #ffffff;
}

.btn-explore:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

footer{
    width: 100%;
    background-color: #353535;
    color: white;
    margin-left: -20px;
    padding-right: 40px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
    padding-bottom: 1.3em;
    padding-top: 2em;
}

.colorfooter{
    color: #ffffff;
}

.logo-footer{
    width: 138px;
    filter: invert(100%);
    margin-bottom: 1em;
}
.footer-contain{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
}

.footer-contain p{
    margin-bottom: 7px;
    margin-top: 5px;
}

.footer-contain-direction{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle{
    font-size: small;
    margin-right: 10px;
}

.fa-handshake-angle{
    width: 11px;
}

/*** Media Queries ***/

@media (min-width: 767.98px)
{
    .menu__header{
        justify-content: center;
        padding-right: 3.5em;
    }

    .fa-heart{
        display: flex;
        margin-left: 3em;
    }

    .footer{
        display: flex;
        justify-content: flex-end;
    }

    .footer-container{
        flex-direction: row-reverse;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .footer-contain{
        flex-direction: row-reverse;
    }

    .logo-footer{
        margin: 0px;
    }

    .colorfooter{
        display: flex;
        flex-direction: row;
    }

    .footer-contain-direction{
        margin-right: 1.5em;
    }
}